.idea/

# Ignore .env files
.env

# Ignore Composer's vendor directory
/vendor/

# Ignore node_modules directory
/node_modules/

# Ignore Laravel's runtime storage files
/storage/
/bootstrap/cache/

# Ignore Laravel's public storage directory
/public/storage/

# Ignore SQLite database files
/database/*.sqlite

# Ignore Homestead configuration files
/Homestead.json
/Homestead.yaml

# Ignore log files
/storage/logs/*.log
/storage/framework/views/*.php
/storage/debugbar/
/storage/app/public/
/public/horizon/