/* Custom Classes */

.red-para{
    color:red !important;
}

.margin-top{
    margin-top:5px !important;
}

.text-bold{
    font-weight: bold;
}

.is-invalid {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem) !important;
}

/* Button Group */

.btn-group {
    display: inline-flex; /* Display the buttons inline */
}

.btn-group a,
.btn-group form {
    margin-right: 5px; /* Add some spacing between buttons */
}

/* Button Loader */

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* Checkmark & Cross Signs */

.circle-checkmark {
    font-family: sans-serif;
    background: green;
    color: white;
    padding: 1px 4px;
    border-radius: 50%;
}

.circle-checkmark-light {
    font-family: sans-serif;
    background: lightblue;
    color: white;
    padding: 1px 4px;
    border-radius: 50%;
}

.cross-sign {
    font-family: sans-serif;
    background: red;
    color: white;
    padding: 1px 4px;
    border-radius: 50%;
}

/* Star Sign */

.checked {
    color: yellow;
}
.fa-star {
    font-size: 20px;
}



